body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background-image: linear-gradient(
       
        rgba(5, 21, 165, 0.8),
        rgba(20, 20, 61, 0.7)
      ),
      url(medical-records.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
.admin-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust as needed */
    max-width: 900px;
}
.dash a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: #333;
}
.dash a:hover{
    text-decoration:underline;
    color: #007BFF;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

.user-management h2,
.user-activity-logs h2,
.security-settings h2 {
    margin-bottom: 10px;
}

#user-table,
#activity-table {
    width: 100%;
    border-collapse: collapse;
}

#user-table th,
#user-table td,
#activity-table th,
#activity-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#user-table th,
#activity-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#user-table tbody tr:nth-child(even),
#activity-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-management button,
.security-settings button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.user-management button:hover,
.security-settings button:hover {
    background-color: #0056b3;
}

.setting {
    margin-bottom: 10px;
}