body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background-image: linear-gradient(
       
        rgba(5, 21, 165, 0.8),
        rgba(20, 20, 61, 0.7)
      ),
      url(medical-records.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    margin-top: 120px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 900px;
}
.dash a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: #333;
}
.dash a:hover{
    text-decoration:underline;
    color: #007BFF;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    margin-bottom: 15px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filters label {
    font-weight: bold;
}

.filters input[type="date"],
.filters select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-results {
    width: 100%;
}

.search-results h2 {
    margin-bottom: 10px;
}

#results-table {
    width: 100%;
    border-collapse: collapse;
}

#results-table th,
#results-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#results-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}